/* General Custom Html stuff */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background-color: #6C757D;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../content/svg/misc/background-02.svg');
}

/* don't like padding and margins on elements by default */
container, div, h1, h2, h3, h4, h5, p{
    cursor:default;
    padding: 0;
    margin: 0;
}

/* make everything a borderbox */
* {
    box-sizing: border-box;
}

/* no border class */
.no-border {
    border: none;
}

/* Used by Auto Top function
   Must be #ID : Used by JS document.getElementById */
#my-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor:;
    padding: 8px 24px;
    border-radius: 4px;
}

    #my-button:hover {
        background-color: #555;
    }

    #my-button:active,
    #my-button:focus {
        background-color: red;
    }

/* Cursors */ 
.no-cursor {
    cursor: none;
}
.pointer-cursor {
    cursor: pointer;
}

/**********************/
/* Responsive */
.btn {
    transition: 1s ease-in-out;
}
.show-me-at-the-top {
    display: none;
}
.show-me-at-the-bottom {
    display: inline;
}

/* #region (BS -lg- ) (min-width: 992px) Start of Desktop */
@media (min-width: 992px) {

    .show-me-at-the-top {
        display: inline;
    }
    .show-me-at-the-bottom {
        display: none;
    }   
}
/* #endregion*/
