<!-- Heading Row-->
<div Class="mt-2 mt-lg-3">
    <h3 class="text-center text-black">Gallery Links<img class="card-image-size ps-2" src="~/Content/Svg/Cards/Links-White.svg" /></h3>
</div>

<!-- Back Button -->
<div class="col-md-3 mb-2 my-lg-3 group-button-size">
    <div class="h-100 text-center text-white">
        <a class="btn btn-danger text-sucess btn-sm group-button-size" href="~/Info/About">
            <img class="back-button-image-size" src="~/Content/Svg/Buttons/Back-White.svg" />
        </a>
    </div>
</div>

<!-- Content Row-->
<div class="row gx-0 gx-lg-5">

    <!-- Column One Card - Pictures -->
    <div class="col-12 col-lg-6 mb-2">
        <div class="my-card h-100 text-center">
            <a class="gallery-page-button-size btn btn-sm bg-black border-1 border-white" href="Pictures01">
                <h2 class="text-white text-start"><img class="card-image-size pe-2" src="~/Content/Svg/Cards/Pictures.svg" />Pictures</h2>
                <p class="text-white mb-0 text-center">Pictures we've collected.</p>
            </a>   
        </div>
    </div>

    @*<!-- Column Two Card - Videos -->
    <div class="col-md-4 mb-2">
        <div class="my-card h-100 text-center">
            <a class="gallery-page-button-size btn btn-sm bg-black border-1 border-white" href="Videos01">
                <h2 class="text-white text-start"><img class="card-image-size pe-2" src="~/Content/Svg/Cards/Videos.svg" />Videos</h2>
                <p class="text-white mb-0 text-center">Our Videos.</p>
            </a>
        </div>
    </div>*@

    <!-- Column Three Card -->
    <div class="col-12 col-lg-6 mb-2">
        <div class="my-card h-100 text-center">
            <a class="gallery-page-button-size btn btn-sm bg-black border-1 border-white" href="WebArtSVG">
                <h2 class="text-white text-start"><img class="card-image-size pe-2" src="~/Content/Svg/Cards/WebArt.svg" />Web Art</h2>
                <p class="text-white mb-0 text-center">Bulldogs Web Artwork.</p>
            </a>
        </div>
    </div> 
</div>

<!-- Content Row -->
<div class="row gx-0 gx-lg-5 text-center">
    <div class="col-12 my-2 my-lg-2">
        <img class="gallery-page-image-size ratio" src="~/content/pageimages/Team.jpg" />
    </div>
</div>

<!-- Padding -->
<div class="gallery-view-bottom-spacing"></div>