@{
    string imageWidth = "294px";
    string imageHeight = "386.01px";
    string extension = ".jpg";
    string folder = "Pictures/01/";
    string folderURL = "../content/gallery/" + folder;    
    int count= Directory.GetFiles("wwwroot/content/gallery/" + folder, "*" + extension).Length;
}

<button onclick="topFunction()" ID="my-button" title="Go to top">Top</button>

<div Class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div Class="row gx-3 gx-lg-5 my-3">
        <h3 class="text-center">
            <img class="card-image-size" src="~/Content/Svg/Cards/Pictures.svg" />
            <span class="text-black">Pictures:</span><span class="text-light fs-4"> 1</span>
        </h3>
    </div>

    <!-- Button Row-->
    <div class="row gx-1 gx-lg-5">

        <!-- Back Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-danger text-sucess btn-sm group-button-size" href="/Gallery/Gallery">
                    <img class="back-button-image-size" src="/Content/Svg/Buttons/back-white.svg">
                </a>
            </div>
        </div>

        <!-- Group 01 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-dark btn-sm group-button-size" href="/Gallery/Pictures01">1</a>
            </div>
        </div>

        <!-- Group 02 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="/Gallery/Pictures02">2</a>
            </div>
        </div>

        <!-- Group 03 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="/Gallery/Pictures03">3</a>
            </div>
        </div>

        <!-- Group 04 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="/Gallery/Pictures04">4</a>
            </div>
        </div>

        <!-- Group 05 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="/Gallery/Pictures05">5</a>
            </div>
        </div>

        <!-- Group 06 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="/Gallery/Pictures06">6</a>
            </div>
        </div>

        <!-- Group 07 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="/Gallery/Pictures07">7</a>
            </div>
        </div>
    </div>

    <!-- Image List -->
    <div class="row gx-1 gx-lg-1" id="imagelist">

        <!-- Script overwrites and replaces stuff here -->
        <h4 class="text-center"> No Pictures have been posted to this group!</h4>
        <img src="~/content/pageimages/empty.gif" />

    </div>

</div>

<!-- Create the Folder's Image List -->
<script>
    createFolderList("@folderURL", @count, "@extension", "@imageWidth", "@imageHeight");
</script>

<!-- Add a "Top" button to page so we can get back to the top of the page. -->
<script>

    //Get the button
    var mybutton = document.getElementById("my-button");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>
