@{
    string imageWidth = "394px";
    string imageHeight = "223.95px";
    string extension = ".mp4";
    string folder = "Videos/02/";
    string folderURL = "../content/gallery/" + folder;
    int count = Directory.GetFiles("wwwroot/content/gallery/" + folder, "*" + extension).Length;
}

<button onclick="topFunction()" id="my-button" title="Go to top">Top</button>

<div Class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div Class="row gx-3 gx-lg-5 my-3">
        <h3 class="text-center">
            <img class="card-image-size" src="~/Content/Svg/Cards/Videos.svg" />
            <span class="text-black">Videos:</span><span class="text-light fs-4"> 2</span>
        </h3>

    </div>

    <!-- Button Row-->
    <div class="row gx-1 gx-lg-5">

        <!-- Back Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center text-white">
                <a class="btn btn-danger text-sucess btn-sm group-button-size" href="~/Gallery/Gallery">
                    <img class="back-button-image-size" src="~/Content/Svg/buttons/Back-White.svg" />
                </a>
            </div>
        </div>

        <!-- Group 01 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center text-white">
                <a class="btn btn-primary btn-sm group-button-size" href="~/Gallery/Videos01">1</a>
            </div>
        </div>

        <!-- Group 02 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center text-white">
                <a class="btn btn-dark btn-sm group-button-size" href="~/Gallery/Videos02">2</a>
            </div>
        </div>

        <!-- Group 03 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center text-white">
                <a class="btn btn-primary btn-sm group-button-size" href="~/Gallery/Videos03">3</a>
            </div>
        </div>
    </div>

    <!-- Image List -->
    <div class="row gx-1 gx-lg-1" id="imagelist">
        <h4 class="text-center"> No videos have been posted to this group!</h4>
        <img src="~/Content/PageImages/empty.gif" />
        <!-- Script places stuff here -->
    </div>

</div>

<div class="videos02-bottom-spacing"></div>

<!-- Create the Folder's Image List -->
<script>
    createFolderList("@folderURL", @count, "@extension", "@imageWidth", "@imageHeight");
</script>

<!-- Add a "Top" button to page so we can get back to the top of the page. -->
<script>

    //Get the button
    var mybutton = document.getElementById("my-button");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>