@{
    /* For Carousel Display */
    string extension = ".jpg";
    string folder = "About/";
    string folderURL = "../content/gallery/" + folder;    
    int count= Directory.GetFiles("wwwroot/content/gallery/" + folder, "*" + extension).Length;
}

<!-- Content Container - About -->
<div Class="px-lg-4">

    <!-- Content Row - Heading -->
    <div Class="row gx-0 gx-lg-5 align-items-end">

        <!-- Column - Logo and Description -->
        <div class="col-lg-5 pb-lg-3">			

			<!-- BD-Banner-Logo -->
			<div class="my-card py-2">
                <div class="bd-banner-logo-size ratio auto-margin px-4 pt-0 pb-2">
                    <img src="~/content/svg/bd-banner-logos/BD-Logo-Master-BlackWhite-1200x936-Plain.svg" />                    
                </div>
                <div class="youth-wrestling-text-size ratio auto-margin px-4 pt-0 pb-2">
                    <img src="~/content/svg/misc/youth-wrestling-text.svg" />
                </div>
			</div>

            <!-- Site Description -->
			<div class="my-card-about text-white px-2 px-lg-2 pt-3 pb-3 bg-black lh-sm">
                <div>
                    <p class="card-text text-white m-0 px-2 pb-3">Playing on a team means learning to work with others and support them. Our goal is to develop the young athletes’ self-confidence, skill, and ability, while introducing them to the competitive sport of wrestling. </p>
                    <p class="card-text text-white m-0 px-2 pb-1">What parents want most is for their children to have fun and be successful at their chosen activities, but the keys to enjoying their sports experiences lie in your hands, first by helping them choose the right sport, and then by providing a good role model for sportsmanship and commitment; that's where we can help.</p>
                </div>
            </div>
        </div>

		<!-- Carousel for Picture slides -->
        <div class="col-lg-7 pb-lg-2">
			<div class="carousel slide pb-2 pointer-event my-rounded" id="CarouselControl" data-bs-ride="carousel">

				<!-- The slideshow -->
                <div class="my-rounded carousel-inner shadow" id="CarouselItems"></div>

				<!-- Left And right controls -->
				<a class="carousel-control-prev" href="#CarouselControl" role="button" data-bs-slide="prev"></a>
				<a class="carousel-control-next" href="#CarouselControl" role="button" data-bs-slide="next"></a>

			</div>
        </div>
    </div>      

    <!-- Row - Cards-1 -->
    <div class="row gx-0 gx-lg-4 align-content-end">

        <!-- Column - Calandar Card -->
        <div class="col-12 col-lg-4 mb-lg-3 lh-sm">

            <!-- Calandar Card -->
			<div class="my-card px-4 px-lg-0 pt-4 pt-lg-0 border-dark">

                <!-- Header -->
                <div class="my-card-header w-100 bg-black py-2 px-3">

                    <h2><img class="card-image-size" src="~/Content/Svg/Cards/Calendar-White.svg"/>Our Calendar</h2>
                    <p class="card-text fw-bolder">Please check our calendar.</p>

                </div>

                <!-- Body -->
                <div class="my-card-body about-card-body-min-height bg-white w-100">
                    <p class="card-text px-3 py-4">The events calendar can be hectic and on the change, so click here to keep in sync.</p>
                </div>

                <!-- Footer and Button -->
                <div class="my-card-footer w-100 bg-gray text-center py-3">
                    <a class="btn btn-primary btn-sm group-button-size" href="~/Info/Calendar">Calendar</a>					
                </div>
            </div>
        </div>

        <!-- Column Container - Fundraise Card -->
        <div class="col-12 col-lg-4 mb-lg-3 lh-sm">

            <!-- Fundraise Card -->
			<div class="my-card px-4 px-lg-0 pt-4 pt-lg-0 border-dark">

                <!-- Header -->
                <div class="my-card-header w-100 bg-black py-2 px-3">

                    <h2><img class="card-image-size" src="~/Content/Svg/Cards/Fundraising.svg"/>Fundraise</h2>
                    <p class="card-text fw-bolder">We need you!</p>

                </div>

                <!-- Body -->
                <div class="my-card-body about-card-body-min-height bg-white w-100">
                    <p class="card-text px-3 py-4">Fundraising is an ongoing effort and we would like you to contribute. Stop by our Fundraising page to see how you can help.</p>
                </div>
               
                <!-- Footer and Button -->
                <div class="my-card-footer w-100 bg-gray text-center py-3">
                    <a class="btn btn-primary btn-sm group-button-size" href="~/Info/Fundraise">Fundraising</a>
                </div>                
            </div>
        </div>

        <!-- Column - Merchandise -->
        <div class="col-12 col-lg-4 mb-lg-3 lh-sm">

            <!-- Merchandise Card -->
            <div class="my-card px-4 px-lg-0 pt-4 pt-lg-0 border-dark">

                <!-- Header -->
                <div class="my-card-header w-100 bg-black py-2 px-3">

                    <h2><img class="card-image-size" src="~/Content/Svg/Cards/Merchandise-White.svg" />Merch...</h2>
                    <p class="card-text fw-bolder">Get your Swag here!</p>

                </div>

                <!-- Body -->
                <div class="my-card-body about-card-body-min-height bg-white w-100">
                    <p class="card-text p-3 py-4">Check out the links to our branded gear so you are styling while showing your support for the Bulldog Wrestlers.</p>
                </div>

                <!-- Footer and Button -->
                <div class="my-card-footer w-100 bg-gray text-center py-3">
                    <a class="btn btn-primary btn-sm group-button-size" href="~/Merchandise/Store">Merchandise</a>
                </div>                
            </div>
        </div>

    </div>	  

   @* <!-- Flier -->
    <container class="text-center">
        <div class="pt-4 pt-lg-2 pb-0 pb-lg-4 px-4 px-lg-0">
            <div class="mx-auto text-center">
                <img Class="w-100 h-100 rounded" src="~/content/pageimages/flier-tot-bash.webp" />
                <iframe class="my-flier-size-about container-fluid bg-white px-0" src="https://docs.google.com/document/d/e/2PACX-1vQQUchzxM6dF4AdtApybf7vd69Xb903KjxiaLXLf_47aCwqI6GnuEhnoCqVdLSc9dBOvOQTVyMMLe7d/pub?embedded=true" frameborder="0" scrolling="auto"></iframe>
            </div>
        </div>
    </container>*@

    <!-- Row - Links -->
    <div class="row gx-0 gx-lg-4 mb-2">

        <!-- Column - Links Card -->
        <div class="col-12 mb-2 lh-sm mx-auto">

            <!-- Links Card -->
            <div class="my-card px-4 px-lg-0 pt-4 pt-lg-0 border-dark">

                <div class="my-card-header w-100 bg-black py-2 px-3">
                    <h2 class="card-title text-white"><img class="card-image-size pe-1" src="~/Content/Svg/Cards/Links-White.svg" /> Links</h2>
                    <p class="card-text text-white fw-bolder">You might want these links...</p>
                </div>

                <div class="my-card-footer bg-dark-gray text-black">

                    <div class="row gx-0 gx-lg-4">

                        <div class="col-12 col-lg-4 py-3">
                            <button class="trackwrestling-button-size nav-link bg-light text-black mx-auto py-2 rounded" onclick="newTab('https://www.usawmembership.com/')">
                                <h6><img class="trackwrestling-button-image-size" src="~/Content/Svg/Buttons/usawrestling-logo.svg" /></h6>
                            </button>
                        </div>

                        <div class="col-12 col-lg-4 py-3">
                            <button class="trackwrestling-button-size nav-link bg-light text-black mx-auto py-2 rounded" onclick="newTab('https://www.trackwrestling.com/')">
                                <h6><img class="trackwrestling-button-image-size" src="~/Content/Svg/Buttons/trackwrestling-logo.svg" /></h6>
                            </button>
                        </div>

                        <div class="col-12 col-lg-4 text-center py-3">
                            <h6>
                                <a class="trackwrestling-button-size btn bg-light border-2 border-dark" href="~/Info/TrackWrestling">TrackWrestling<br />Instructions</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
<div class="about-view-bottom-spacing"></div>

<script>   
    createCarouselList("@folderURL", @count);
</script>