<container>
    <div class="mx-auto text-center">
        <iframe class="my-bilaws-size container-fluid shadow bg-white px-0 mb-4" src="https://docs.google.com/document/d/e/2PACX-1vTy1D7EYergsmCRH7h7VMNQaDA05ZOQFJZpO--FjQHYu9M6yg0eEgRiBGCA6VL6II548LUH7c_B2p7o/pub?embedded=true" frameborder="0" scrolling="auto"></iframe>
    </div>
</container>