<!-- Our Calendar Text -->
<div class="text-center py-4 py-lg-0 px-4 px-lg-0">
    <div class="my-card-plain mx-auto bg-gray-dark mb-4" style="max-width: 24rem;">
        <h3 class="font-weight-bold text-white text-center py-4"><img class="card-image-size" src="~/Content/Svg/Cards/Calendar.svg" />Bulldogs Calendar</h3>
    </div>
</div>  

<!-- iframe Link -->
<iframe class="my-calendar-size mb-2" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTabs=0&showTitle=0&title=Bulldogs%20Wrestling&src=c291dGhlcm5pbGxpbm9pc2J1bGxkb2dzQGdtYWlsLmNvbQ&color=%23039BE5"></iframe>

<!-- CSS Adjustable Spacing -->
<div class="calendar-view-bottom-spacing"></div>

@*<script>
    if (document.getElementById("MainContainer").classList.contains("container")) {
        document.getElementById("MainContainer").classList.remove("container");
    };
</script>*@
