@{
    //string docLink1 = "https://docs.google.com/document/d/e/2PACX-1vQQUchzxM6dF4AdtApybf7vd69Xb903KjxiaLXLf_47aCwqI6GnuEhnoCqVdLSc9dBOvOQTVyMMLe7d/pub?embedded=true";

}
<container>
    <div class="mx-auto text-center">
        <img Class="w-100 h-100 rounded" src="~/content/gallery/flyers/golfFlyer-01.jpg" />
        @*<iframe class="my-doc-size container-fluid shadow bg-white px-0 mb-4" src="@docLink1" frameborder="0" scrolling="auto"></iframe>*@
    </div>
</container>
