@{
    string docLink1 = "https://docs.google.com/document/d/e/2PACX-1vRB4c0it-7MPQGHroPbjDbD3tO-xfFkDoRcUg1hqgxX9k1ZhRoR_sKyA6FQS1AKE6KbMZ47wUUALTZY/pub?embedded=true";
    //string docLink2 = "https://docs.google.com/document/d/e/2PACX-1vRD_aLMx0hFaww-_cYbF18nhq4g128m3rbP3yL_nrd2Ojx_MlgsLkcKSZUYTxTx62fXIJZERsvgGmH0/pub?embedded=true";
    //string docLink3 = "https://docs.google.com/document/d/1fLq4xcEXh88rTSfNAFIFd6iFvkGeDj9dvJ4diZCr9VU/edit?usp=sharing";
}

<!-- Fundraise Doc -->
<container>   
    <div class="mx-auto text-center">
        <iframe class="my-doc-size container-fluid shadow bg-white px-0 mb-2" src="@docLink1" frameborder="0" scrolling="auto"></iframe>
    </div>
</container>

<!-- Banner Logo Fundraise Doc -->
@*<container>
    <div class="mx-auto text-center">
        <iframe class="my-doc-size container-fluid shadow bg-white px-0 mb-2" src="@docLink2" frameborder="0" scrolling="auto"></iframe>
    </div>

    <!-- Printable Copy (a "Shared" Google Doc) -->
    <button class="btn nav-link border-1 border-white bg-black text-white text-center mx-auto rounded py-2 mb-2" onclick="newTab('@docLink3')"><h6>Club Banner Fundraiser<br />Printable Copy</h6></button>
</container>*@

<!-- Spacing to push footer down the page on large screens (if necessary) -->
<div class="fundraise-view-bottom-spacing"></div>
