<!-- Content Container - About -->
<div Class="mt-5 px-lg-4">

    <!-- Content Row - Heading -->
    <div class="row gx-0 gx-lg-3 align-content-end">

        <!-- Column - Logo and Description -->
        <div class="col-lg-12 pb-lg-3">

            <!-- BD-Banner-Logo -->
            <div class="my-card-plain mx-sm-1 mx-md-0 pt-2 pt-md-4 pt-lg-0">
                <div class="bd-logo-size ratio auto-margin p-0">
                    <img src="/content/svg/bd-banner-logos/BD-Logo-Master-BlackWhite-1200x1200-Youth.svg">
                </div>
            </div>           
        </div>        
    </div> 
</div>

<div class="about-view-bottom-spacing"></div>
