@{
    /* For Carousel Display */
    string extension = ".jpg";
    string folder = "About/";
    string folderURL = "../content/gallery/" + folder;
    int count = Directory.GetFiles("wwwroot/content/gallery/" + folder, "*" + extension).Length;
}

<!-- Content Container - About -->
<div Class="px-lg-4">

    <!-- Content Row - Heading -->
    <div class="row gx-0 gx-lg-3 align-content-end">

        <!-- Column - Logo and Description -->
        <div class="col-lg-5 pb-lg-3">

            <!-- BD-Banner-Logo -->
            <div class="my-card-plain mx-sm-1 mx-md-0 pt-2 pt-md-4 pt-lg-0">
                <div class="bd-logo-size ratio auto-margin p-0">
                    <img src="/content/svg/bd-banner-logos/BD-Logo-Master-BlackWhite-1200x1200-Youth.svg">
                </div>
            </div>

            <!-- Site Description -->
            <div class="my-card-radius text-white mx-sm-1 mx-md-0 my-md-2 my-lg-0 px-2 px-lg-0 pt-2 pb-1 border-dark bg-black">
                <div class="px-0 pt-2 pb-1">
                    <p class="card-text text-white m-0 px-2 pb-3 who-are-we-fs">Playing on a team means learning to work with others and support them. Our goal is to develop the young athletes’ self-confidence, skill, and ability, while introducing them to the competitive sport of wrestling. </p>
                    <p class="card-text text-white m-0 px-2 pb-1 who-are-we-fs">What parents want most is for their children to have fun and be successful at their chosen activities, but the keys to enjoying their sports experiences lie in your hands, first by helping them choose the right sport, and then by providing a good role model for sportsmanship and commitment; that's where we can help.</p>
                </div>
            </div>
        </div>

        <!-- Carousel for Picture slides -->
        <div class="col-lg-7 pb-lg-3">
            <div class="mx-sm-1 mx-md-0 carousel slide pb-0 pointer-event my-rounded" id="CarouselControl" data-bs-ride="carousel">

                <!-- The slideshow -->
                <div class="my-rounded carousel-inner shadow" id="CarouselItems"><div class="carousel-item"><img class="d-block w-100" src="../content/gallery/About/000008.jpg" alt="000008"></div><div class="carousel-item"><img class="d-block w-100" src="../content/gallery/About/000007.jpg" alt="000007"></div><div class="carousel-item"><img class="d-block w-100" src="../content/gallery/About/000006.jpg" alt="000006"></div><div class="carousel-item"><img class="d-block w-100" src="../content/gallery/About/000005.jpg" alt="000005"></div><div class="carousel-item"><img class="d-block w-100" src="../content/gallery/About/000004.jpg" alt="000004"></div><div class="carousel-item active"><img class="d-block w-100" src="../content/gallery/About/000003.jpg" alt="000003"></div><div class="carousel-item"><img class="d-block w-100" src="../content/gallery/About/000002.jpg" alt="000002"></div><div class="carousel-item"><img class="d-block w-100" src="../content/gallery/About/000001.jpg" alt="000001"></div></div>

                <!-- Left And right controls -->
                <a class="carousel-control-prev" href="#CarouselControl" role="button" data-bs-slide="prev"></a>
                <a class="carousel-control-next" href="#CarouselControl" role="button" data-bs-slide="next"></a>

            </div>
        </div>
    </div>

    <!-- Row - Cards-1 -->
    <div class="row gx-0 gx-sm-2 gx-md-3 gx-lg-3 align-content-end">

        <!-- Column - Calendar Card -->
        <div class="col-12 col-md-6 col-lg-4 px-2 pt-2 pt-lg-0 mb-lg-3 lh-sm">

            <!-- Card -->
            <div class="my-card border-0 home-card-header-color">

                <!-- Header -->
                <div class="w-100 py-2 px-3">
                    <h3 class="pb-1">
                        <img class="card-image-size image-light-show" src="/Content/Svg/Cards/Calendar-White.svg">
                        <img class="card-image-size image-dark-show" src="/Content/Svg/Cards/Calendar-Black.svg">
                        Our Calendar
                    </h3>
                    <p class="fw-normal mb-0">Calendar of Events</p>
                </div>

                <!-- Footer -->
                <div class="my-card-footer home-card-footer-color w-100">
                    <p class="card-text card-body-text-fs p-3 py-2 mb-0">The events calendar can be hectic and on the change, so click here to keep in sync.</p>

                    <!-- Link -->
                    <div class="text-center pt-0 pb-2">
                        <a class="btn btn-sm btn-primary text-nowrap" href="../Info/Calendar" target="_self">Calendar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column Container - Fundraise Card -->
        <div class="col-12 col-md-6 col-lg-4 px-2 pt-2 pt-lg-0 mb-lg-3 lh-sm">

            <!-- Card -->
            <div class="my-card border-0 home-card-header-color">

                <!-- Header -->
                <div class="w-100 py-2 px-3">
                    <h3 class="pb-1">
                        <img class="card-image-size image-light-show" src="/Content/Svg/Cards/Fundraising-White.svg">
                        <img class="card-image-size image-dark-show" src="/Content/Svg/Cards/Fundraising-Black.svg">
                        Fundraise
                    </h3>
                    <p class="fw-normal mb-0">We need you!</p>
                </div>

                <!-- Footer -->
                <div class="my-card-footer home-card-footer-color w-100">
                    <p class="card-text card-body-text-fs p-3 py-2 mb-0">Fundraising is an ongoing effort; stop by our page to see how you can help.</p>

                    <!-- Link -->
                    <div class="text-center pt-0 pb-2">
                        <a class="btn btn-sm btn-primary text-nowrap" href="../Info/Fundraise" target="_self">Fundraise</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column - Merchandise -->
        <div class="col-12 col-md-12 col-lg-4 px-2 pt-2 pt-lg-0 mb-lg-3 lh-sm">

            <!-- Card -->
            <div class="my-card border-0 home-card-header-color">

                <!-- Header -->
                <div class="w-100 py-2 px-3">
                    <h3 class="pb-1">
                        <img class="card-image-size image-light-show" src="/Content/Svg/Cards/Merchandise-White.svg">
                        <img class="card-image-size image-dark-show" src="/Content/Svg/Cards/Merchandise-Black.svg">
                        Merch...
                    </h3>
                    <p class="fw-normal mb-0">Get your Swag here!</p>
                </div>

                <!-- Footer -->
                <div class="my-card-footer home-card-footer-color w-100">
                    <p class="card-text card-body-text-fs p-3 py-2 mb-0">Links to our gear so you are styling while supporting the Bulldog Wrestlers.</p>

                    <!-- Link -->
                    <div class="text-center pt-0 pb-2">
                        <a class="btn btn-sm btn-primary text-nowrap" href="~/Merchandise/Store">Merchandise</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Flyer - Congratulations -->
   @* <container class="text-center">
        <div class="pt-2 pt-lg-1 pt-xl-1 pb-2 pb-md-2 pb-lg-2 px-2 px-sm-1 px-md-0 px-lg-0">
            <div class="mx-auto text-center">
                <img Class="w-100 h-100 rounded" src="~/content/gallery/flyers/BulldogsFlyer.png" />
            </div>
        </div>
    </container>*@

    <!-- Flyer -->
   <container class="text-center">
        <div class="pt-2 pt-lg-1 pt-xl-1 pb-2 pb-md-2 pb-lg-2 px-2 px-sm-1 px-md-0 px-lg-0">
            <div class="mx-auto text-center">
                <iframe class="my-flyer-size-about container-fluid bg-white px-0" src="https://docs.google.com/forms/d/e/1FAIpQLSe6n2s6jlVHJKO6je-HNt6-X1dQFbAofmE8JQzzV6mH3bC0yg/viewform" frameborder="0" scrolling="auto"></iframe>
            </div>
        </div>
    </container>

    <!-- Flyer - BulldogBrawl -->
    <container class="text-center">
        <div class="pt-0 pt-lg-2 pb-0 pb-md-2 pb-lg-3 px-2 px-sm-1 px-md-0 px-lg-0">
            <div class="mx-auto text-center">
                <img Class="w-100 h-100 rounded" src="~/content/gallery/flyers/BulldogBrawl.jpg" />
                @*<iframe class="my-flyer-size-about container-fluid bg-white px-0" src="https://docs.google.com/document/d/e/2PACX-1vQQUchzxM6dF4AdtApybf7vd69Xb903KjxiaLXLf_47aCwqI6GnuEhnoCqVdLSc9dBOvOQTVyMMLe7d/pub?embedded=true" frameborder="0" scrolling="auto"></iframe>*@
            </div>
        </div>
    </container>

    <!-- Row - Links -->
    <div class="row gx-0 gx-sm-2 gx-md-3 gx-lg-3 align-content-end mb-0 pb-0 pb-sm-0 pb-md-0 pb-lg-2">

        <!-- Column -->
        <div class="col-12 px-2 pt-2 pt-sm-2 pt-md-0 pt-lg-0 pt-xl-0 pt-lg-0 lh-sm">

            <!-- Card -->
            <div class="my-card border-0 home-card-header-color mb-2">

                <!-- Header -->
                <div class="w-100 py-2 px-3">
                    <h3 class="pb-1">
                        <img class="card-image-size image-light-show" src="/Content/Svg/Cards/Links-White.svg">
                        <img class="card-image-size image-dark-show" src="/Content/Svg/Cards/Links-Black.svg">
                        Links
                    </h3>
                    <p class="fw-normal mb-0">You might want these links...</p>
                </div>

                <!-- Footer -->
                <div class="my-card-footer home-card-footer-color w-100">

                    <div class="row gx-0 gx-lg-4">

                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 pt-2">
                            <button class="trackwrestling-button-size nav-link bg-light text-black mx-auto py-2 rounded" onclick="newTab('https://www.usawmembership.com/')">
                                <h6><img class="trackwrestling-button-image-size" src="/Content/Svg/Buttons/usawrestling-logo.svg"></h6>
                            </button>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 pt-2">
                            <button class="trackwrestling-button-size nav-link bg-light text-black mx-auto py-2 rounded" onclick="newTab('https://www.trackwrestling.com/')">
                                <h6><img class="trackwrestling-button-image-size" src="/Content/Svg/Buttons/trackwrestling-logo.svg"></h6>
                            </button>
                        </div>

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 py-2">
                            <button class="trackwrestling-button-size nav-link bg-light text-black mx-auto py-2 rounded" onclick="newTab('/Info/TrackWrestling')">
                                <h6 class="pt-1 pb-0">TrackWrestling<br>Instructions</h6>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="about-view-bottom-spacing"></div>

<script>
    createCarouselList("@folderURL", @count);
</script>