@{
    string docLink1 = "https://docs.google.com/document/d/e/2PACX-1vSu34GmDhZfpfG6TH8WsYZUFcy5nM-Pdt4xFRY4xfGVTbKDJjYpGVq76UYgIkQlANyt-lIXPWEjPf67/pub?embedded=true";
}
<container>
    <div class="mx-auto text-center">
        <iframe class="my-doc-size container-fluid shadow bg-white px-0 mb-4" src="@docLink1" frameborder="0" scrolling="auto"></iframe>
    </div>
</container>