<div class="container body-content px-0">

    <!-- Heading Row-->
    <div class="my-md-3 bg-light mx-md-5 px-1 px-md-5  fs-6">

        <div class="p-md-5 pt-2 m-md-5">

            <h3 class="text-center">
                HOW TO USE TRACKWRESTLING
                <button style="margin-right:auto;margin-left:auto;" class="nav-link bg-light text-black py-2 rounded noborder bg-transparent" onclick="newTab('https://www.trackwrestling.com/')">
                    <h6><img style="height:40px; width: 140px;" src="/Content/Svg/Buttons/trackwrestling-logo.svg"></h6>
                </button>
            </h3>

            <p>Trackwrestling is a website used by most tournaments across the state and nation. You will register your wrestler for tournaments with this program. On tournament days you will utilize it to look up your wrestler's bracket, mat assignments, and bout numbers. In the top right corner of the bracket you will see what mat they will wrestle on (they should wrestler there for the duration of the day) unless the tournament director announces that it is on a rolling bout system, meaning that they will wrestle on a specific grouping of mats instead of just one mat throughout the day. Mat assignments can and often do change as the day progresses, so watch and listen closely for updates. Most tournaments are bouted. Your wrestler's bout number will be listed on their  bracket. Track updates real-time so please pay attention to your bracket on track to see what their next bout number is.</p>
            <p>Trackwrestling also provides a "dashboard" while wrestling is going on. It is a page that shows the current match at each mat. It is not camera fed, but you can see the score, who has control, and look at a history of points. Some of the bigger tournaments will offer live video feed for an additional cost so people can watch from home. Please note that Little Guy Tournaments do not always use track to run their tournaments.</p>

            <div class="text-start">
                <h4>PDF Files:</h4>
                <button class="nav-link bg-light text-success py-2 px-1 noborder bg-transparent text-start" onclick="newTab('https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:ce5cfc36-5682-40be-afdf-245162f4a523')">
                    <h6>How to read a Bracket</h6>
                </button>
                <button class="nav-link bg-light text-success py-2 px-1 noborder bg-transparent text-start" onclick="newTab('https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:9cff2fcd-b64a-485d-983a-d1fa229a34a1')">
                    <h6>Registering for a Tournament</h6>
                </button>
                <button class="nav-link bg-light text-success py-2 px-1 noborder bg-transparent text-start" onclick="newTab('https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:0bd16a1a-2f94-480d-8c8f-409a2d7f50e4')">
                    <h6>How to find your wrestler’s bracket, mat assignments, and bout numbers</h6>
                </button>
            </div>
        </div>
    </div>
</div>
