<!-- Heading Row-->
<div Class="my-3">
    <h3 class="text-center">
        Merchandise
        <img class="card-image-size" src="~/Content/Svg/Cards/Merchandise.svg" />
    </h3>
    <h5 class="text-center text-white">Links to resellers with our branded merchandise.</h5>
    <p class="text-center">
        Sales only run periodically, so check back for the latest information and links.
    </p>
</div>

<nav class="nav">
    <ul style="list-style-type: none;">

        @*<li>
                <button class="nav-link noborder bg-transparent text-white py-1" onclick="newTab('https://bw2021.wswebstore.com/store')"><h6>Winning Streak</h6></button>
            </li>
            <li>
                <button class="nav-link noborder bg-transparent text-white py-1" onclick="newTab('https://www.creationstationdesigns.com/waterloowrestling')"><h6>Creation Station</h6></button>
            </li>*@
        @*<li>
            <button class="nav-link border border-white my-rounded bg-black text-white py-1" onclick="newTab('https://teamgear.rudis.com/t/waterloo-bulldog-wrestling-club/?team_id=180406&set_team_auth=1&fbclid=IwAR3Y2zeJiotx2gxMsX-7MLdu9fk2TYGBy3bnuojQmcYE6zebOj4pcOnzKMA')">
                <img src="~/Content/Logos/RUDIS-Team-Gear.png" style="height: 40px;" /><h6> RUDIS Team Gear - Bulldogs</h6>
            </button>
        </li>*@

    </ul>
</nav>


<!-- Row - Bulldog -->
<div class="row gx-0 gx-lg-4">

    <!-- Column - Bulldog -->
    <div class="col-12 mt-2 px-2 pt-lg-3 pb-lg-4 mb-lg-1 lh-sm">

        <!-- Container - Bulldog -->
        <div class="my-card h-100">
            <div class="bd-banner-logo-size ratio auto-margin px-4 pt-3 pb-2">
                <img src="~/Content/Svg/BD-Banner-Logos/BD-Logo-Rudis-D-2400x1080.svg" />
            </div>
        </div>
    </div>
</div>
<div class="store-view-bottom-spacing"></div>